<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body{font-size:1.2em; font-family:Arial,sans-serif;} .addMessage { color:#4cae4c; font-weight:bold; }</style>

    <title>ng-repeat</title>
</head>
<body>
    <h1>ng-repeat</h1>
    <div ng-controller="ShoppingListController">
        <!-- Shopping List 1 -->
        <h2>Shopping list 1</h2>
        <ul>
            <li ng-repeat="item in shoppingList1">{{ item }}</li>
        </ul>


        <p>Name <input type="text" ng-model="shoppingList2[0].name"><br>
            Quantity<input type="text" ng-model="shoppingList2[0].quantity"></p>

        <!-- Shopping List 2 -->
        <h2>Shopping list 2</h2>
        <ul>
            <li ng-repeat="item in shoppingList2">{{ item.name }},  {{ item.quantity }} units</li>
        </ul>

        <!-- Shopping List 3 -->
        <h2>Shopping list 2 with $index</h2>
        <ul>
            <li ng-repeat="item in shoppingList2">{{$index+1}}. Buy {{ item.quantity }} units of {{ item.name }}.</li>
        </ul>
        <!-- Shopping List 3 -->
        <h2>Shopping list 2 with html index xD</h2>
        <ol>
            <li ng-repeat="item in shoppingList2">Buy {{ item.quantity }} units of {{ item.name }}.</li>
        </ol>

        <h3>Add new product</h3>
        <p>
            <input type="text" ng-model="newItemName" placeholder="Item name" size="20"> <input type="text" size="4" ng-model="newItemQuantity" placeholder="Item Qty">
            <button ng-click="addNewItem()">Add</button> <span class="addMessage">{{addMessage}}</span>
        </p>

        <!--
        <button ng-click="showNumberOfWatchers()">Log # of Watchers</button><br>
        <button ng-click="setFullName()">Set Full Name</button><br>
        <p>FullName is {{ :: fullName }}</p>
        <button ng-click="logFirstName()">Log First Name</button><br>
        <button ng-click="logFullName()">Log Full Name</button><br>
        <div>

            <input type="text" ng-model="firstName">
        </div>
        -->

    </div>
<script>
    //var elem = document.getElementById('target');
    //console.log(elem);
    //console.log(elem.getAttribute('ng-app'));

</script>
</body>
</html>