<h2>{{list.title}}</h2>


<p class="errorMessage">{{list.errorMessage}}</p>
<ol>
    <li ng-repeat="item in list.items">{{item.quantity}} of {{item.name}}
        <!--<button ng-click="list.badRemove($index)" class="btn btn-danger btn-xs">bad remove</button>-->
        <button ng-click="list.onRemove({index: $index})">Remove</button>
    </li>
</ol>

<!--<div class="error" ng-if="list.cookiesInList()">WARNING! WARNING! COOKIES DETECTED!</div>-->
<div class="error">Oh the horror!!! Cookies detected!</div>
