body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.active {
  font-weight: bold;
}

li[ui-sref]{
  text-decoration:underline;
  color:#aa0000;
}
li[ui-sref]:hover{
  cursor:pointer;
  text-decoration:none;
}