<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>body{font-size:1.2em; font-family:Arial,sans-serif;} .addMessage { color:#4cae4c; font-weight:bold; }

        .errorMessage{ color:#a00; font-weight: bold;}
    </style>

    <title>Custom Service through a Factory</title>
</head>
<body>

<div class="container">
    <h1>Custom Service through a Factory</h1>
    <div class="row">

        <!-- Shopping List 1 -->
        <div class="col-md-6">
            <h2>Shoppping List #1</h2>
            <div ng-controller="ShoppingListController1 as list1">
                <h3>Add item</h3>
                <p>
                    <input type="text" ng-model="list1.itemName" placeholder="Item name" size="20">
                    <input type="text" size="4" ng-model="list1.itemQuantity" placeholder="Item Qty">
                    <button ng-click="list1.addItem()">Add</button> <span class="addMessage">{{list1.addMessage}}</span>
                </p>
                <p class="errorMessage">{{list1.errorMessage}}</p>
                <ol>
                    <li ng-repeat="item in list1.items"><strong>{{ item.name }}</strong>,  {{ item.quantity }} units
                        <button ng-click="list1.removeItem($index)" class="btn btn-danger btn-xs">x</button></li>
                </ol>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Shopping List #2</h2>
            <div ng-controller="ShoppingListController2 as list2">
                <h3>Add item</h3>
                <p>
                    <input type="text" ng-model="list2.itemName" placeholder="Item name" size="20">
                    <input type="text" size="4" ng-model="list2.itemQuantity" placeholder="Item Qty">
                    <button ng-click="list2.addItem()">Add</button> <span class="addMessage">{{list2.addMessage}}</span>
                </p>
                <p class="errorMessage">{{list2.errorMessage}}</p>

                <ol>
                    <li ng-repeat="item in list2.items"><strong>{{ item.name }}</strong>,  {{ item.quantity }} units
                        <button ng-click="list2.removeItem($index)" class="btn btn-danger btn-xs">x</button></li>
                </ol>
            </div>
        </div>
    </div>
</div>

</body>
</html>